name: "CI"

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

env:
  FORCE_COLOR: 1

jobs:
  eval:
    name: Evaluate
    runs-on: ubuntu-latest
    outputs:
      stdout: ${{ steps.nix-eval-jobs.outputs.stdout }}
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          diagnostic-endpoint: ""
          source-url: "https://install.lix.systems/lix/lix-installer-x86_64-linux"
      - uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          diagnostic-endpoint: ""
      - name: Run nix-eval-jobs
        id: nix-eval-jobs
        run: |
          {
            echo 'stdout<<EOF'
            nix-shell nix/ci-shell.nix --run eval-checks
            echo 'EOF'
          } >> "$GITHUB_OUTPUT"

  build:
    needs: [ eval ]
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        derivation: ${{ fromJson(needs.eval.outputs.stdout) }}
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          diagnostic-endpoint: ""
          source-url: "https://install.lix.systems/lix/lix-installer-x86_64-linux"
      - uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          diagnostic-endpoint: ""
      - name: Build ${{ matrix.derivation.attr }}
        run: nix-build release.nix -A ${{ matrix.derivation.attr }}
        if: ${{ ! matrix.derivation.isCached }}

  # Only here for branch protection rules
  build-status:
    needs: [ build ]
    name: Build Status
    runs-on: ubuntu-latest
    if: always()
    steps:
    - run: ${{!contains(needs.build.result, 'failure')}}
